.tooltipster-light {
	border-radius: 5px; 
	border: 1px solid #cccccc;
	background: #fff;
	color: #0078c9;
}
.tooltipster-light .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

html
{
	background-color:#e9eaed;
	font-family: 'Open Sans', sans-serif;
}

#container{
	width:510px;
	margin-top:15px;
	margin-left: auto;
    margin-right: auto;
}

button{
	font-family:arial;
}

#title_icon{
	height: 60px;
	vertical-align: middle;
}

#main_title{
	font-size:44px;
	margin-bottom:25px;
	font-family: 'Lobster', cursive;
	color:#0078e7;
}

#char_counter{
	color:grey;
	margin-left:10px;
}

#feed_submit_button{
	float:right;
	padding-left:14px;
	padding-right:14px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-top:4px;
}

#user_level{
	clear:right;
	display:none;
	text-align:center;
	position:relative;
	bottom:25px;
	margin:0;
	z-index:-1;
}

#help_icon{
	width:24px;
	height:24px;
	vertical-align:bottom;
}

.arrow_right_icons{
	height:20px;
	vertical-align:middle;
}

.my_lists{
	display:none;
}

.my_lists > .feed_items{
	margin-top:9px;
	position:relative;
	left:-13px;
}

.my_open_toggles
{
	background:white;
	/*border-bottom:1px solid #07c;*/
}

.my_open_toggles:hover
{
	cursor:pointer;
	/*border-bottom: 1px solid #00CED1;*/
}

.my_stuff_mains{
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	width: 484px;
	padding:12px;
}

#refresh_button{
	float:right;
}

.like_buttons{color:#07c; text-decoration:none; font-size:13px;}      /* unvisited link */
.like_buttons:visited {color:#07c;}  /* visited link */
.like_buttons:hover {color:#07c; text-decoration:underline;}  /* mouse over link */
.like_buttons:active {color:#07c;}  /* selected link */

#feed_input_textarea{
	resize: none;
	width: 510px;
	font-family: inherit;
	font-size: inherit;
	padding:12px;
}

b{
	color:#0078e7;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	margin-top:20px;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

#feed_city_information{
	clear:right;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	width: 484px;
	margin-top:5px;
	margin-bottom: 7px;
	padding:12px;
}

#feed_main_div{
	position:relative;
	top:10px;
}

.feed_items{
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	width: 484px;
	margin-bottom: 7px;
	padding:12px;
}

.feed_item_messages{
	margin-bottom:13px;
}

.afterlike_messages{
	color:#07c;
	font-size:13px;
}
.likecount_spans{
	float:right;
	font-size:13px;
}

.blueify{
	color:#07c;
}